<nav class="c-breadcrumb">
  <a href="/admin" class="c-breadcrumb-element">Главная</a>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    width="12"
    height="12"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M8.25 4.5l7.5 7.5-7.5 7.5"
    />
  </svg>
  <% if (breadcrumb.parent) { %>
  <a href="<%= breadcrumb.url %>" class="c-breadcrumb-element"
    ><%= breadcrumb.parent %></a
  >
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    width="12"
    height="12"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M8.25 4.5l7.5 7.5-7.5 7.5"
    />
  </svg>
  <% } %>
  <p class="c-breadcrumb-element"><%= breadcrumb.current %></p>
</nav>
