<!DOCTYPE html>
<html lang="ru">
  <%- include("./head.ejs") %>
  <body>
    <div class="wrapper">
      <%- include("./sidebar.ejs") %>
      <main class="main"><%- body %></main>
    </div>
    <%- include("./scripts.ejs") %>
    <script src="/admin/js/ckeditor.js"></script>
  </body>
</html>
