<section class="middle-banner">
  <div class="box">
    <div class="middle-banner-inner">
      <div class="middle-banner-inner-titles">
        <h3 class="section-title white">Ваш идеальный Приключенческий опыт</h3>
        <p class="text white">Мероприятия и проживание</p>
      </div>
      <button class="btn white">Посмотреть все</button>
    </div>
  </div>
  <img
    src="/client/media/middle-banner-bg.jpg"
    alt="Ваш идеальный Приключенческий опыт"
    class="image"
  />
</section>
