<header class="header">
  <div class="box header-inner">
    <a href="/" class="header-logo logo white"></a>
    <div class="header-extra-div">
      <nav class="header-navigation">
        <a href="/" class="header-nav-link">Главная</a>
        <a href="/tours" class="header-nav-link">Туры</a>
        <a href="/about" class="header-nav-link">О нас</a>
        <a href="/contact" class="header-nav-link">Контакты</a>
      </nav>
      <!-- <% if (locales && locales.length > 0) { %>
      <nav class="header-langs">
        <% locales.map(locale => { %>
        <a href="/<%= locale.code %>/<%= pathname %>" class="locale"
          ><%= locale.code %></a
        >
        <% }) %>
      </nav>
      <% } %> -->
    </div>
  </div>
</header>
