<div class="titles-wrapper">
  <h3 class="section-title"><%= title_section %></h3>
  <% if (title_text) { %>
  <p class="section-text"><%= title_text %></p>
  <% } %>
  <div class="naqsh-container">
    <span class="naqsh"></span>
    <span class="naqsh last"></span>
  </div>
</div>
