<!DOCTYPE html>
<html lang="ru">
  <%- include("../partials/head.ejs") %>
  <body>
    <div class="wrapper">
      <%- include("../partials/sidebar.ejs") %>
      <main class="main">
        <div class="page-top">
          <h1 class="page-title">Новости</h1>
          <button class="c-btn">Сохранить</button>
        </div>
      </main>
    </div>
  </body>
</html>
