<!DOCTYPE html>
<html lang="ru">
  <%- include("../partials/head.ejs") %>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        min-height: 100vh;
      "
    >
      <h1 class="error-text">Error 404</h1>
      <a href="/admin" class="c-btn">Главная</a>
    </div>
  </body>
</html>
