<!DOCTYPE html>
<html lang="ru">
  <%- include("../partials/head.ejs") %>
  <body>
    <div style="display: grid; place-items: center; min-height: 100vh">
      <h1 class="error-text">Login</h1>
    </div>
  </body>
</html>
